*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
img{
    max-width: 100%;
}
.header-container{
    position:relative;
    height: 800px;
    color:white;
}
.bgImg{
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    width:100%;
    z-index:-1;
}
.bgImg img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.brandName{
    width:10%;
    color:white;
    font-weight:700;
    font-size:24px;
    padding-top: 30px;
    margin-left: 105px;
}
.flexBox{
    display: flex;
}
.rightNav{
    margin-left: 235px;
    display: flex;
}
.navBar{
    display: flex;
    padding-top:33px;
    margin-left: 76px;  
}
.navBar li{
    display:inline;
    margin-left:20px; 
}
.logIn{
    display:flex;
    margin-left:235px;
    margin-top: 34px;
    width: 2%;
}
.b1{
     margin-left: 60px;
     border-radius:5px;
     padding: 15px 25px;
     width: 214px;
     background-color: #23A6F0;
     color:white;
     font-weight:700;
    border-color: transparent; 
    margin-top:19px;
    font-size:14px;
}
.bgText{
    width: 48%;
    margin: 167px auto 0px;
    text-align: center;
}
.bgTitle{
    font-size:58px;
    line-height:80px;  
    font-weight:900;
}
.bgSubtitle{
    margin-top:40px;
    width:61%;
    margin-left:150px;
    line-height: 30px;
}
.bgButton{
    margin-top: 40px;
}
.bgButton1{
    height: 52px;
    width: 185px;
    border-radius: 37px;
    padding: 15px 36px 15px 36px;   
    margin:3px;
    background-color: transparent;
    color:white;
    border-color:white;
    border-style: solid;
    font-size: 14px;
    font-weight: 500;
}
.bgButton1:hover{
    background-color: #23A6F0;
    border-color:#23A6F0;
}
.overlap{
    display: flex;
    margin: 120px auto 0px;
    width:72%;
}
.overlap1{
    background-color: white;
    color:black;
    padding: 35px 40px 35px 40px;   
    box-shadow: 0px 13px 19px 0px #00000012;
}
.top{
    font-weight:700;
    font-size:24px;
}
.overlap2{
    margin-left: 30px;
    background-color: white;
    color:black;
    padding: 35px 40px 35px 40px;  
    box-shadow: 0px 13px 19px 0px #00000012;

}
.overlap3{
    margin-left: 30px;
    background-color: white;
    color:black;
    padding: 35px 40px 35px 40px; 
    box-shadow: 0px 13px 19px 0px #00000012;
 
}
.grey1{
    background-color: #FAFAFA;
    height:204px;
}
.part2{
    display:flex;
    margin: 96px auto 135px;
    width:100%;
}
.part2-1{
    text-align: center;
    margin-left:197px;
    width:250px;
}
.subTopic1{
    font-size: 16px;
    font-weight:700;
    margin-top:31px;
}
.para1{
    margin-top: 10px;
    font-size:14px;
    font-weight: 500;
    width:234px;
}
.part2-2{
    margin-left:150px;
    width:250px;
    text-align: center;
}
.part2-3{
    text-align: center;
    width:250px;
    margin-left: 160px;
}
.grey2{
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    flex-direction: column;
}
.testimonials{
    width: 33%;
    margin-left:485px;
    text-align:center;
    padding-top: 112px;
}
.cards{
    display: flex;
    flex-direction: row;
    width:70%;
    margin-left: 212px;
    margin-top:80px;
    margin-bottom:196px;
}
.test1{
    justify-content: center;
}
.test0{
    justify-content: center;
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
    color:#737373;
}
.card1{
    text-align: center;
    padding-top: 40px;
    border: 1px solid #BDBDBD;
    background-color:white;  
}
.card2{
    text-align: center;
    padding-top: 40px;
    border: 1px solid #BDBDBD;
    margin-left: 61px;
    background-color:white;
}
.card3{
    text-align: center;
    padding-top: 40px;
    border: 1px solid #BDBDBD;
    margin-left: 61px;
    background-color:white;
}
.cardText{
    color:#737373;
    font-size:14px;
    line-height: 20px;
    width:59%;
    margin-left: 75px;
    margin-top: 30px;
}
.logos{
    display:flex;
    width:72%;
    justify-content: center;
    margin:0 auto;
}
.logoImg1{
    height: 34px;
    width: 103px;
    margin-top:70px;
}
.logoImg2{
    margin-left: 86.5px;
    height: 58px;
    width: 83px;
   margin-top:58px;
}
.logoImg3{
    height: 74px;
    width: 102px;
    margin-left:86px;
    margin-top:50px;
}
.logoImg4{
    margin-left: 79px;
    margin-top:66px;
    width:103px;
    height:42px;
}
.logoImg5{
    width:103.6px;
    height:62px;
    margin-top: 57px;
    margin-left:77px;

}
.logoImg6{
    margin-top: 51.64px;
    width:75.7px;
    height:72px;
    margin-left:91px;
}
.gradient{
    display:flex;
    width:72%;
    margin:70px auto 0px;
    background: linear-gradient(90deg, rgba(0,71,136,1) 0%, rgba(215,20,137,1) 100%);   
}
.gradientText{
    display:flex;
    padding: 30px 50px;
}
.subscribe{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    width:258px;
    color:white;  
}
.form{
    margin-left:240px;
    height:58px;
    width:333px;
    left:20px 0px 15px 20px;
    border-radius: 5px 0px 0px 5px ;  
    border-color: transparent;
    padding: 20px ;
}
.formSub{
    height:58px;
    background-color: #23A6F0;
    color:#E6E6E6;
    border-color:transparent;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 22.5px;
    
}
.stars{
    margin-top: 15px;
    margin-bottom:40px;
}
.pricing{
    width:85%;
    justify-content: center;
    display:flex;
    margin:122px auto 0px;
}
.pricingText{
    text-align:center;
    width:470px;   
}
.pricingPara{
    margin-top:10px;
    color:#737373;
    font-size: 14px;
    line-height: 20px;
}
.priceCards{
    display: flex;
    width:68%;
    margin: 25px auto 112px;
    margin-top: 80px;
}
sub{
    vertical-align: sub;
    font-size:16px;
}
.priceCard1{
    margin-top:40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid#23A6F0;
    border-radius: 10px;
    width:327px;
    text-align:center;
}
.price{
    margin-top:35px;
}
.list1{
    list-style: none;
    font-size:14px;
    font-weight:600;
    color: #252B42;
}
.tick{
    height:25px
}
.list1 li {
    width:247px;
    margin: 36px 40px 24px 40px;
    text-align: left;
}
.priceCard-topic{
    font-weight: 700;
    font-size :24px;
    margin-top: 50px;
}
.subtopic{
    font-size:16px;
    color:#737373;
    text-align:center;
    width:160px;
    margin:35px auto 0px;
    line-height:24px;

}
.white{
    color:white;
}
.zero{
    color:#23A6F0;
    margin-top:40px;
}
.b2{
    color:white;
    background-color: #23A6F0;
    font-size:14px;
    font-weight:700;
    height: 52px;
    width: 246px;
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    border-color:transparent;
    margin-bottom: 50px;   
}
.priceCard2{
    background-color: #252B42;
    color:white;
    border-radius: 10px;
    width:350px;
    text-align:center;
}
.priceCard3{
    margin-top:40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid#23A6F0;
    border-radius: 10px;
    width:327px;
    text-align:center;
}
.dark{
    background-color:#252B42;
    position:relative;
}
.darkContent{
    display:flex;
    height:807px; /*to give height to dark background*/
}
.darkTopic{
    margin-top:100px;
    font-size:40px;
    font-weight: 700;
    line-height: 57px;
    margin-left: 196px;
}
.darkLeft{
    width: 43%;
}
.darkRight{
    margin-left:279px;
    margin-top:129px;
}
.darkText{
    margin-left: 196px;
    margin-top: 15px;
    font-size:14px;
    line-height:20px
}
.map{
    width:414px;
    height:169.1px;
}
.form1{
    margin-bottom:134px;
    display:flex;
    position: absolute;
    top:479px;
    left:281px;
    background-color: white;
}
.book{
    display:flex;
    flex-direction:column;
    width:35%;
    margin-left:50px;
}
.bookForm{
    background-color: #E6E6E6;
    border-color: transparent;
    height:50px;
    padding: 11px 0px 11px 21px;
    border-radius: 5px;
    margin-top: 10px;
    width:507px;
}
.fam{
    width:501px;
    margin-left:0px;
}
.bookTitle{
    text-align: center;
    margin: 40px 0px;
    font-size:24px;
    font-weight: 700;
}
.bookText{
    margin: 10px 0px;
    color: #252B42;
    font-size: 14px;
    font-weight: 600;
    width:510px;
    margin-right:50px;

}
.grey3{
    background-color: #FAFAFA;
    position: relative;
}
.aboveFooter{
    display: flex;
    margin:416px 0px 0px 195px;
    margin-left:195px;
}
.title2{
    margin-top:40px;
    font-size:24px;
    font-weight: 700;
}
.text2{
    margin-top: 10px;
    color:#737373;
    font-size:14px;
    font-weight:500;
    margin-bottom:40px;
}
.grey2-5{
    width:100%;
    position: absolute;
    height:416px;
    z-index: -1;
    background-color:#FAFAFA
}
.contactus{
    margin:45px 0px 45px 470px;
    width:160px;
}
.footer1{
    margin:0 auto;
    background-color: white;
}
.footer1-1{
    display: flex;
    width:73%;
    padding-top:50px;
}
.info ul li:first-child{
    color:black;
    font-size: 16px;
    font-weight: 700;
}
.info ul li{
    width:120px;
    margin-left:195px;
    list-style:none;
    margin-bottom: 20px;
    font-size:14px;
    font-weight:600;
    color: #737373;
}
.legal{
    width:100px;
    margin-left:63px;
}
.legal ul li:first-child{
    color:black;
    font-size: 16px;
    font-weight: 700;
}
.legal ul li{
    list-style:none;
    margin-bottom: 20px;
    font-size:14px;
    font-weight:600;
    color: #737373;
}
.features{
    width:146px;
    margin-left:82px;
}
.features ul li:first-child{
    color:black;
    font-size: 16px;
    font-weight: 700;
}
.features ul li{
    list-style:none;
    margin-bottom: 20px;
    font-size:14px;
    font-weight:600;
    color: #737373;
}
.resources{
    width:110px;
    margin-left: 32px;
}
.resources ul li:first-child{
    color:black;
    font-size: 16px;
    font-weight: 700;
}
.resources ul li{
    list-style:none;
    margin-bottom: 20px;
    font-size:14px;
    font-weight:600;
    color: #737373;
}
.touch{
    margin-left:72px;
    margin-bottom:52px;
}
.touch ul li:first-child{
    color:black;
    font-size: 16px;
    font-weight: 700;
}
.touch ul li{
    list-style:none;
    margin-bottom: 20px;
    font-size:14px;
    font-weight:600;
    color: #737373;
}
.grey4{
    display:flex;
    background-color: #FAFAFA;
    padding-left: 195px;
    color: #737373;
    font-size:14px;
    font-weight: 600;
    padding:25px;
}
.socials{
    margin-left:507.5px;
    
}
.socials >* {
padding-right:22px;
}

/* 1200px */
@media(max-width:1200px)
{
    .brandName{
        margin-left:100px;    
    }
    .menu{
        display:none;
    }
    .nav {
        display: flex;
    }
    .rightNav{
        margin-left: 10px;
    }
    .part2-2{
        margin-left:50px;
    }
    .part2-3{
        margin-left:50px;
    }
    .testimonials{
        padding-top:50px;
    }
    .cards{
        margin-bottom:96px;
    }
    .form{
        margin-left:70px
    }
    .cardText{
        margin-left: 50px;
    }
    .priceCards{
        margin-left:115px;
    }
    .darkTopic{
        width:350px;
    }
    .darkRight{
        margin-left:200px;
    }
    .form1{
        left:170px;
    }
    .contactus{
        margin-left:370px;
    }
    .info ul li{
    margin-left:190px;
    }
    .legal ul li{
        width:100px;
    }
    .features ul li{
        width:150px;
    }
    .resources ul li{
        width:150px;
    }
    .footer1{
        margin-left:00px;
    }
    .grey4{
        padding-left:190px;
    }
    .greyText{
        width:450px;
    }
    .socials{
        margin-left:307px;
    }
}
/* 480px
@media(min-width:480px)
{
    .menu{
        margin-left: 30px;
        margin-top:20px;
    }
    .brandName{
        margin-left:100px;
    }
    .navBar{
        margin-left: 0px;
        display:none;
    }
    .rightNav{
        margin-left:0px;
    }
    .b1{
        display:none;
    }
    .logIn{
        margin-left:180px ;
    }
    .bgText{
        margin-top: 70px;
    }
    .bgTitle{
        font-size:24px;
        line-height:30px;
    }
    .bgSubtitle{
        text-align:center;
        margin-left:0px;
        width:250px
    }
    .bgButton1{
        margin-top:10px;
    }
    .overlap{
        flex-direction:column;
        marhon:0 auto;
    }
    .overlap1{
        margin-top: 80px;
    }
    .overlap2{
        margin-top:20px;
        margin-left:0px
    }
    .overlap3{
        margin-top:20px;
        margin-left:0px;
    }
    .part2{
        flex-direction: column;
        margin-top:320px
    }
} */

